/* NUMBERS */
.numbers{
    position: relative;
    height: 40vh;
    background-image: url('../images/background/background2.webp');
    background-size: cover;
    background-attachment: fixed;
}
.numbers-items{
    overflow: hidden;
    padding: 82px 0;
}
.number-item{
    width: 25%;
    float: left;
    text-align: center;
}
.number-item .icon{
    color: var(--colorMain);
    margin-bottom: 15px;
}
.number-item-title{
    color: var(--whiteColor);
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 3px;
}
.number-item-text{
    color: var(--whiteColor);
    text-transform: capitalize;
}